<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top</title>
</head>
<body>
  <h1>SNS for Engineer</h1>
  <h2>トップページ<br> ようこそ、エンジニアのためのSNSへ</h2>
  <a href="/text/all">つぶやきを見る</a><br>
  <a href="/user/all">ユーザー一覧</a>
</body>
</html>